<!--begin::Card-->
<div class="card card-custom gutter-b">
  <!--begin::Header-->
  <div class="card-header card-header-tabs-line">
    <ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item">
        <a
          (click)="setActiveTab(1)"
          class="nav-link cursor-pointer"
          [ngClass]="getActiveTabCSSClass(1)"
          role="tab"
        >
          FAQ
        </a>
      </li>
      <li class="nav-item">
        <a
          (click)="setActiveTab(2)"
          class="nav-link cursor-pointer"
          [ngClass]="getActiveTabCSSClass(2)"
          role="tab"
        >
          Image
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content pt-3">
      <!-- begin::Header -->
      <div class="tab-pane" [ngClass]="getActiveTabCSSClass(1)">
        <div [formGroup]="formGroup">
          <div class="form-group row">
            <label class="col-xl-2 col-form-label">Question</label>
            <div class="col-xl-10">
              <input
                class="form-control form-control-lg form-control-solid"
                type="text"
                formControlName="question_en"
                [class.is-invalid]="isControlInvalid('question_en')"
                [class.is-valid]="isControlValid('question_en')"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-2 col-form-label">Answer</label>
            <div class="col-xl-10">
              <input
                class="form-control form-control-lg form-control-solid"
                type="text"
                formControlName="answer_en"
                [class.is-invalid]="isControlInvalid('answer_en')"
                [class.is-valid]="isControlValid('answer_en')"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ng-container>
            <button
              type="submit"
              class="btn btn-primary btn-elevate"
              (click)="save()"
              [disabled]="formGroup.invalid"
            >
              Save
            </button>
          </ng-container>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="getActiveTabCSSClass(2)">
        <div class="col-lg-6 text-center card mb-4">
          <div
            [formGroup]="formGroup2"
            class="col-lg-12 text-center mt-4"
            *ngIf="tipInfoResponse"
          >
            <h5 class="col-xl-12 col-lg-12 col-form-label">
              Subject Icon Image
            </h5>
            <img
              src="{{ STORAGE_BUCKET }}{{ tipInfoResponse.image }}"
              class="teacher-img"
              style="background-color: black"
              alt=""
            />
            <div class="form-group row">
              <div class="col-lg-9 col-xl-9">
                <input
                  class="form-control form-control-lg form-control-solid"
                  type="file"
                  accept=".png, .jpg, .jpeg"
                  (change)="uploadFile('image', $event)"
                />
              </div>
              <div class="col-lg-3 col-xl-3">
                <button
                  type="submit"
                  class="btn btn-primary btn-elevate"
                  (click)="updateImage()"
                  [disabled]="formGroup2.invalid"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--end::Header-->
  <!--begin::Form-->
</div>
<!--end::Card-->
