<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <h3>UPLOAD INQUIRY CSV</h3>
            <ng-container> 
                <div [formGroup]="formGroup">

                    <div class="form-group row mt5">
                        <label class="col-xl-3 col-lg-3 col-form-label">Select CSV File </label>
                        <div class="col-lg-11 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" type="file" formControlName="inquiry_csv" (change)="uploadFile('inquiry_csv', $event)"
                            [class.is-invalid]="isControlInvalid('inquiry_csv')"
                            [class.is-valid]="isControlValid('inquiry_csv')" />
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container>

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>