<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Ranking Medal List</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary" (click)="addNewMedal()">New Medal</a>
        </div>
    </div>
    <div class="col-lg-12 ml-5"style="width: 100%">
        <div class="row mt-2">
            <div class="col-lg-12">
                <h4 class="card-label">Filter</h4>
            </div>
            <div class="col-lg-12 row">
                <!-- <div class="col-lg-3">
                    <label class="col-form-label">Name </label>
                    <input class="form-control form-control-lg form-control-solid" name="name" #nameSearch type="text" (keyup)="search('name',nameSearch.value)" />
                </div>
                <div class="col-lg-3">
                    <label class="col-form-label">Phone </label>
                    <input class="form-control form-control-lg form-control-solid" type="text" name="phone"  #phoneSearch type="text" (keyup)="search('phone',phoneSearch.value)"/>
                </div>
                <div class="col-lg-3">
                    <label class="col-form-label">views </label>
                    <input class="form-control form-control-lg form-control-solid" type="text" name="views" #viewSearch type="text" (keyup)="search('email',viewSearch.value)"/>
                </div>
                 <div class="col-lg-1 ml-1">
                    <label class="col-form-label"></label>
                    <a type="button" class="btn  form-control form-control-lg form-control-solid button-bottom" (click)="nameSearch.value = '';phoneSearch.value = '';viewSearch.value = '';clearFilter()">Clear</a>
                 </div> -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive angular-bootstrap-table">
            <div class="mat-elevation-z8">
                <mat-table #table2 [dataSource]="dataSource">
				
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.id }}
                        </mat-cell>
                    </ng-container>
                     <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.name }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="views">
                        <mat-header-cell *matHeaderCellDef>views </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.views }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updated_at">
                        <mat-header-cell *matHeaderCellDef>Updated Date </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.updated_at }}
                        </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button
                                mat-icon-button
                                color="primary"
                                type="button"
                                [routerLink]="['/ranking/medal/edit/', row.id]"
                                matTooltip="Edit"
                            >
                                <mat-icon>create</mat-icon></button
                            >&nbsp;
                            <button
                                mat-icon-button
                                color="warn"
                                type="button"
                                (click)="delete(row.id,row.name)"
                                matTooltip="Delete"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                       
                    </ng-container>
                    <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></mat-row>
                </mat-table>
                <mat-paginator
				[length]="pagination_data.total"
				[pageSizeOptions]="pagination_item_counts"
				(page)="pageEvent($event)"
				showFirstLastButtons
			></mat-paginator>
              </div>
        </div>
    </div>
</div>