<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <h3>ADD NEW STUDENT</h3>
            <ng-container>
                <!-- <ng-container >Edit</ng-container>
                  <ng-container >Create</ng-container>
                  customer -->
                <!-- <ng-container *ngIf="customer.id">'{{customer.firstName}} {{ customer.lastName }}'</ng-container> -->
                <div [formGroup]="formGroup">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Name</label>
                        <div class="col-lg-11 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" type="text"
                                formControlName="name" [class.is-invalid]="isControlInvalid('name')"
                                [class.is-valid]="isControlValid('name')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3  col-form-label">Email</label>
                        <div class="col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" type="text"
                                formControlName="email" [class.is-invalid]="isControlInvalid('email')"
                                [class.is-valid]="isControlValid('email')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2  col-form-label">Password</label>
                        <div class="col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="password"
                                formControlName="password" [class.is-invalid]="isControlInvalid('password')"
                                [class.is-valid]="isControlValid('password')" />
                        </div>
                        <label class="col-xl-2  col-form-label">Confirm Password</label>
                        <div class="col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="password"
                                formControlName="confirm_password"
                                [class.is-invalid]="isControlInvalid('confirm_password')"
                                [class.is-valid]="isControlValid('confirm_password')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Image</label>
                        <div class="col-lg-11 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" type="file" accept=".png, .jpg, .jpeg" (change)="uploadFile('image',$event)"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">NIC</label>
                        <div class="col-lg-11 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" type="text"
                                formControlName="nic" [class.is-invalid]="isControlInvalid('nic')"
                                [class.is-valid]="isControlValid('nic')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Phone Number</label>
                        <div class="col-lg-11 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" type="text"
                                formControlName="phoneNumber" [class.is-invalid]="isControlInvalid('phoneNumber')"
                                [class.is-valid]="isControlValid('phoneNumber')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Address </label>
                        <div class="col-lg-11 col-xl-9 ">
                            <input class="form-control form-control-lg form-control-solid" type="text"
                                formControlName="address" [class.is-invalid]="isControlInvalid('address')"
                                [class.is-valid]="isControlValid('address')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-form-label">City</label>
                        <div class="col-lg-4">
                            <input class="form-control form-control-lg form-control-solid" type="text"
                                formControlName="city" />
                        </div>
                        <label class="col-xl-2 col-form-label">District</label>
                        <div class="col-lg-4">
                            <select formControlName="district" class="form-control"
                                [class.is-invalid]="isControlInvalid('district')"
                                [class.is-valid]="isControlValid('district')">
                                <option disabled>District</option>
                                <option *ngFor="let district of districts" value="{{district.name_en}}">{{district.name_en}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-form-label">Hear About Us</label>
                        <div class="col-lg-4">
                            <select formControlName="hear_about_us" class="form-control"
                                [class.is-invalid]="isControlInvalid('hear_about_us')"
                                [class.is-valid]="isControlValid('hear_about_us')">
                                <option disabled>Hear About Us</option>
                                <option value="paper">Paper</option>
                                <option value="social_media">Social Media</option>
                            </select>
                        </div>
                        <label class="col-xl-2 col-form-label">A/L year</label>
                        <div class="col-lg-4">
                            <select formControlName="al_year" class="form-control"
                                [class.is-invalid]="isControlInvalid('al_year')"
                                [class.is-valid]="isControlValid('al_year')">
                                <option disabled>Year</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-form-label">Stream</label>
                        <div class="col-lg-4">
                            <select formControlName="stream" class="form-control"
                                [class.is-invalid]="isControlInvalid('stream')"
                                [class.is-valid]="isControlValid('stream')">
                                <option disabled>Stream</option>
                                <option value="SCIENCE">Science</option>
                                <option value="COMMERCE">commerce</option>
                                <option value="ARTS">Art</option>
                            </select>
                        </div>
                        <label class="col-xl-2 col-form-label">Subject 1</label>
                        <div class="col-lg-4">
                            <select formControlName="subject_1_id" class="form-control"
                                [class.is-invalid]="isControlInvalid('subject_1_id')"
                                [class.is-valid]="isControlValid('subject_1_id')">
                                <option disabled>Subjects</option>
                                <option value="{{subject.id}}" *ngFor="let subject of subjectObj">{{subject.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-xl-2 col-form-label">Subject 2</label>
                            <div class="col-lg-4">
                                <select formControlName="subject_2_id" class="form-control"
                                    [class.is-invalid]="isControlInvalid('subject_2_id')"
                                    [class.is-valid]="isControlValid('subject_2_id')">
                                    <option disabled>Subjects</option>
                                    <option value="{{subject.id}}" *ngFor="let subject of subjectObj">{{subject.title}}</option>
                                </select>
                            </div>
                            <label class="col-xl-2 col-form-label">Subject 3</label>
                            <div class="col-lg-4">
                                <select formControlName="subject_3_id" class="form-control"
                                    [class.is-invalid]="isControlInvalid('subject_3_id')"
                                    [class.is-valid]="isControlValid('subject_3_id')">
                                    <option disabled>Subjects</option>
                                    <option value="{{subject.id}}" *ngFor="let subject of subjectObj">{{subject.title}}</option>
                                </select>
                            </div>
                        </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container>

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
                [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>