<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">AL Squad List</h3>
        </div>
    </div>

    <div class="col-lg-12 ml-5" style="width: 100%">
        <div class="row mt-2">
            <div class="col-lg-12">
                <h4 class="card-label">Filter</h4>
            </div>
            <div class="col-lg-12 row">
                <div class="col-lg-3">
                    <label class="col-form-label">Description </label>
                    <input class="form-control form-control-lg form-control-solid" name="description"
                        #descriptionSearch type="text" (keyup)="search('description',descriptionSearch.value)" />
                </div>
                <!-- <div class="col-lg-3">
                    <label class="col-form-label">Type </label>
                    <input class="form-control form-control-lg form-control-solid" type="text" name="type"
                        #typeSearch type="text" (keyup)="search('type',typeSearch.value)" />
                </div> -->
                <div class="col-lg-3">
                        <label class="col-form-label">Status </label>
                        <select class="form-control form-control-lg form-control-solid" name="status" #statusSearch type="text"
                            (change)="search('status',statusSearch.value)">
                            <option></option>
                            <option value="PENDING">PENDING</option>
                            <option value="APPROVED">APPROVED</option>
                            <option value="REJECTED">REJECTED</option>
                        </select>
                    </div>
                <div class="col-lg-1 ml-1">
                    <label class="col-form-label"></label>
                    <a type="button" class="btn  form-control form-control-lg form-control-solid button-bottom"
                        (click)="descriptionSearch.value = '';statusSearch.value = '';clearFilter()">Clear</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive angular-bootstrap-table">
            <mat-table #table2 [dataSource]="dataSource">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.id }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.description | slice:0:20 }}...
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>Type </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.type }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="total_comments">
                    <mat-header-cell *matHeaderCellDef>Total Comment</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.total_comments }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="total_likes">
                    <mat-header-cell *matHeaderCellDef>Total Likes </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.total_likes }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="updated_at">
                    <mat-header-cell *matHeaderCellDef>Updated Date </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.updated_at }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <select class="form-control form-control-lg form-control-solid" name="status" #statusVal (change)="changeState(statusVal.value,row.type,row.id)">
                            <option value="PENDING" [selected]="row.status == 'PENDING'">PENDING</option>
                            <option value="APPROVED" [selected]="row.status == 'APPROVED'">APPROVED</option>
                            <option value="REJECTED" [selected]="row.status == 'REJECTED'">REJECTED</option>
                        </select>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" type="button" [routerLink]="['/aL-squard/poll', row.id]"
                            matTooltip="Edit">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button color="warn" type="button" (click)="delete(row.id,row.code)"
                            matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>

                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [length]="pagination_data.total" [pageSizeOptions]="pagination_item_counts"
                (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>