<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Receipt List</h3>
        </div>
        <div class="card-toolbar">
            <!-- <a type="button" class="btn btn-primary" (click)="addNewStudent()">New Receipt</a> -->
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive angular-bootstrap-table">
            <mat-table #table2 [dataSource]="dataSource">
				
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.id }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="reference_number">
                    <mat-header-cell *matHeaderCellDef>REF </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.reference_number }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef>Amount </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.amount }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="student_name">
                    <mat-header-cell *matHeaderCellDef>Student</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.student_name }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="teleshop_bank">
                    <mat-header-cell *matHeaderCellDef>Deposit </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.teleshop_bank }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>Type </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.type }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef>Phone </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.phone }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="created_at">
                    <mat-header-cell *matHeaderCellDef>Created </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.created_at }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-chip-list aria-label="">
                            <mat-chip color="accent" *ngIf="row.status == 'PENDING'" selected>PENDING</mat-chip>
                            <mat-chip color="warn" *ngIf="row.status == 'PAYED'" selected>PAYED</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                   
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <!-- <button
                            mat-icon-button
                            color="primary"
                            type="button"
                            [routerLink]="['/receipt/edit', row.id]"
                            matTooltip="Edit"
                        >
                            <mat-icon>create</mat-icon></button
                        >&nbsp; -->
                        <button
                            mat-icon-button
                            color="warn"
                            type="button"
                            (click)="delete(row.id,row.reference_number)"
                            matTooltip="Delete"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                   
                </ng-container>
                <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
            </mat-table>
            <mat-paginator
            [length]="pagination_data.total"
            [pageSizeOptions]="pagination_item_counts"
            (page)="pageEvent($event)"
            showFirstLastButtons
        ></mat-paginator>
        </div>
       
    </div>
</div>