<div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Failed SLT Subscriptions</h3>
            </div>
        </div>
        <div class="col-lg-12 ml-5"style="width: 100%">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <h4 class="card-label">Filter</h4>
                </div>
                <div class="col-lg-12 row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-3">
                            <label class="col-form-label">ID </label>
                            <input class="form-control form-control-lg form-control-solid" name="id" #idSearch type="text" (keyup)="search('id',idSearch.value)" />   
                    </div>
                    <div class="col-lg-3">
                        <label class="col-form-label">Payment Method </label>
                        <select class="form-control form-control-lg form-control-solid" name="method" #payment_methodSearch
                        type="text" (change)="search('method',payment_methodSearch.value)">
                        <option value=""></option>
                        <option value="VISA">VISA</option>
                        <option value="MASTER">MASTER</option>
                    </select>
                </div>
                     <div class="col-lg-1 ml-1">
                        <label class="col-form-label"></label>
                        <a type="button" class="btn  form-control form-control-lg form-control-solid button-bottom" (click)="idSearch.value = '';payment_methodSearch.value = '';clearFilter()">Clear</a>
                     </div> 
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive angular-bootstrap-table">
                <mat-table #table2 [dataSource]="dataSource">
                    
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef>Subscription ID </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.id }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="slt_smart_id">
                        <mat-header-cell *matHeaderCellDef>SLT Smart ID</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.slt_smart_id}}
                        </mat-cell>
                    </ng-container>
                   
                    <ng-container matColumnDef="event_reference">
                        <mat-header-cell *matHeaderCellDef>Event Reference </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.event_reference }}
                        </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="slt_event_source">
                        <mat-header-cell *matHeaderCellDef>SLT Event Source</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.slt_event_source }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="recurring_amount">
                        <mat-header-cell *matHeaderCellDef>Recurrence Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.recurring_amount }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="student_name">
                            <mat-header-cell *matHeaderCellDef>Studnt Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{ row.student.name }}
                            </mat-cell>
                        </ng-container>
                    <ng-container matColumnDef="student_phone">
                        <mat-header-cell *matHeaderCellDef>Student Phone</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.student.phone}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="teacher_name">
                        <mat-header-cell *matHeaderCellDef>Teacher Name </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.teacher.name }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button
                                mat-icon-button
                                color="primary"
                                type="button"
                                [routerLink]="['/fail-subscriptions/edit', row.id]"
                                matTooltip="Edit"
                            >
                                <mat-icon>create</mat-icon></button
                            >
                            <!-- &nbsp;
                            <button
                                mat-icon-button
                                color="warn"
                                type="button"
                                (click)="delete(row.id,row.transaction_date)"
                                matTooltip="Delete"
                            >
                                <mat-icon>delete</mat-icon>
                            </button> -->
                        </mat-cell>
                       
                    </ng-container>
                    <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></mat-row>
                </mat-table>
                <mat-paginator
                [length]="pagination_data.total"
                [pageSizeOptions]="pagination_item_counts"
                (page)="pageEvent($event)"
                showFirstLastButtons
            ></mat-paginator>
            </div>
           
        </div>
    </div>