<!--begin::Card-->
<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header card-header-tabs-line">
        <ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a (click)="setActiveTab(1)" class="nav-link cursor-pointer" [ngClass]="getActiveTabCSSClass(1)" role="tab">
                    Banner
                </a>
            </li>
            <li class="nav-item">
                    <a (click)="setActiveTab(2)" class="nav-link cursor-pointer" [ngClass]="getActiveTabCSSClass(2)" role="tab">
                        Image
                    </a>
            </li>

        </ul>
    </div>


    <div class="card-body">
        <div class="tab-content pt-3">
            <!-- begin::Header -->
            <div class="tab-pane" [ngClass]="getActiveTabCSSClass(1)">
                <div [formGroup]="formGroup">
                    <div class="form-group row">
                        <label class="col-xl-2 col-form-label">URL </label>
                        <div class="col-xl-4 ">
                            <input class="form-control form-control-lg form-control-solid" type="text" formControlName="url" [class.is-invalid]="isControlInvalid('url')"
                                [class.is-valid]="isControlValid('url')" />
                        </div>
                        <label class="col-xl-2 col-form-label">Status</label>
                        <div class="col-xl-4">
                            <select class="form-control form-control-lg form-control-solid" name="status" formControlName="status" [class.is-invalid]="isControlInvalid('status')"
                                [class.is-valid]="isControlValid('status')">
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="DISABLED">DISABLED</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-form-label">Type</label>
                        <div class="col-xl-4">
                            <select class="form-control form-control-lg form-control-solid" name="type" formControlName="type" [class.is-invalid]="isControlInvalid('type')"
                                [class.is-valid]="isControlValid('type')">
                                <option value="MAIN_BANNER">MAIN_BANNER</option>
                                <option value="LIVE_BANNER">LIVE_BANNER</option>
                                <option value="LIVE_DESKTOP_STATIC">LIVE_DESKTOP_STATIC</option>
                                <option value="LIVE_MOBILE_BANNER">LIVE_MOBILE_BANNER</option>
                                <option value="LIVE_MOBILE_STATIC">LIVE_MOBILE_STATIC</option>
                                <option value="VOD_BANNER">VOD_BANNER</option>
                                <option value="AFTER_ALS">AFTER_ALS</option>
                                <option value="AL_SQUAD">AL_SQUAD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ng-container>
                        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid || submitting"><span *ngIf="submitting">Processing...</span><span *ngIf="!submitting">Update</span> </button>
                    </ng-container>
                </div>
            </div>
            <div class="tab-pane" [ngClass]="getActiveTabCSSClass(2)">
                <div class="col-lg-6 text-center card mb-4">
                    <div [formGroup]="formGroup2" class="col-lg-12 text-center mt-4" *ngIf="bannerResponse">
                        <h5 class="col-xl-12 col-lg-12 col-form-label">Banner Image</h5>
                        <img src="{{STORAGE_BUCKET}}{{bannerResponse.image}}" class="teacher-img" alt="">
                        <div class="form-group row">
                           
                            <div class="col-lg-9 col-xl-9">
                                <input class="form-control form-control-lg form-control-solid" type="file" (change)="uploadFile('image',$event)" accept=".png, .jpg, .jpeg"/>
                            </div>
                            <div class="col-lg-3 col-xl-3">
                                <button type="submit" class="btn btn-primary btn-elevate" (click)="updateBanner()" [disabled]="formGroup2.invalid || submitting"><span *ngIf="submitting">Processing...</span><span *ngIf="!submitting">Update</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end::Header-->
    <!--begin::Form-->
</div>
<!--end::Card-->