<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Lesson History</h3>
    </div>
  </div>

  <div class="col-lg-12 ml-5" style="width: 100%">
    <div class="row mt-2">
      <div class="col-lg-12">
        <h4 class="card-label">Filter</h4>
      </div>
      <div class="col-lg-12 row mb-5">
        <div class="col-lg-2">
          <label class="col-form-label">Lesson Name </label>
          <input
            class="form-control form-control-lg form-control-solid"
            name="keyword"
            #keywordSearch
            type="text"
            (keyup)="search('keyword', keywordSearch.value)"
          />
        </div>
        <div class="col-lg-2">
          <label class="col-form-label">Type</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="type"
            #type
            type="text"
            (change)="search('type', type.value)"
          >
            <option value="">- Select -</option>
            <option value="individual">Individual</option>
            <option value="package">Package</option>
            <option value="tutes">Tutes</option>
          </select>
        </div>
        <div class="col-lg-2">
          <label class="col-form-label">Grade</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="grade"
            #grade
            type="text"
            (change)="search('grade', grade.value)"
          >
            <option value="">- Select -</option>
            <option value="10">Grade 10</option>
            <option value="11">Grade 11</option>
            <option value="sonic">Sonic Team SR </option>
            <option value="2025">2025 A/L</option>
            <option value="2026">2026 A/L</option>
            <option value="2027">2027 A/L</option>
            <option value="2028">2028 A/L</option>
          </select>
        </div>
        <div class="col-lg-2">
          <label class="col-form-label">Class Type</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="grade_type"
            #gradeType
            type="text"
            (change)="search('grade_type', gradeType.value)"
          >
            <option value="">- Select -</option>
            <option value="theory">Theory</option>
            <option value="revision">Revision</option>
            <option value="paper">Paper Class</option>
          </select>
        </div>
        <div class="col-lg-2">
          <label class="col-form-label">Status </label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="status"
            #status
            type="text"
            (change)="search('status', status.value)"
          >
            <option value="">- Select -</option>
            <option value="active">ACTIVE</option>
            <option value="deactivate">DISABLED</option>
          </select>
          <!-- <input class="form-control form-control-lg form-control-solid" type="text" name="status"  #statusSearch type="text" (keyup)="search('status',statusSearch.value)"/> -->
        </div>
        
        <div class="col-lg-2 pr-3">
          <a
            type="button"
            class="btn btn-primary button-bottom"
            (click)="addLesson()"
            >New Lesson</a
          >
        </div>
        
        
      <!-- <div class="col-lg-12 row mt-5">
        <div class="col-lg-2">
          <a
            type="button"
            class="btn form-control form-control-lg form-control-solid button-bottom"
            (click)="
              keywordSearch.value = '';
              type.value = '';
              grade.value = '';
              gradeType.value = '';
              status.value = '';
              clearFilter()
            "
            >Clear</a
          >
        </div>
      </div> -->
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <mat-table #table2 [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.id }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.name }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="grade">
          <mat-header-cell *matHeaderCellDef>Grade </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.grade }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.type }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="grade_type">
          <mat-header-cell *matHeaderCellDef>Class Type </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.grade_type }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.duration }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="discounted_price">
          <mat-header-cell *matHeaderCellDef>Discounted Price</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.discounted_price ? row.discounted_price : 0 }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.price }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-chip-list aria-label="">
              <mat-chip color="accent" *ngIf="row.status == 'active'" selected
                >ACTIVE</mat-chip
              >
              <mat-chip
                color="warn"
                *ngIf="row.status == 'deactivate'"
                selected
                >DISABLED</mat-chip
              >
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              color="primary"
              type="button"
              [routerLink]="['/lessons/edit', row.id]"
              matTooltip="Edit"
            >
              <mat-icon>create</mat-icon></button
            >&nbsp;
            <!-- <button
              mat-icon-button
              color="warn"
              type="button"
              (click)="delete(row.id, row.name)"
              matTooltip="Delete"
            >
              <mat-icon>delete</mat-icon>
            </button> -->
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="pagination_data.total"
        [pageSizeOptions]="pagination_item_counts"
        (page)="pageEvent($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
