<!-- <p>admin-management works!</p>
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Admin List</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary" (click)="create()">New Admin</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single">
                            <span></span>
                        </label>
                    </th>
                    <th>
                        ID
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>
                        FIRSTNAME
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>
                        LASTNAME
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>
                        EMAIL
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>
                        GENDER
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>
                        STATUS
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>
                        TYPE
                        <app-sort-icon></app-sort-icon>
                    </th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> -->