<!--begin::Card-->
<div class="card card-custom gutter-b">
  <!--begin::Header-->
  <div class="card-header card-header-tabs-line">
    <ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item">
        <a
          (click)="setActiveTab(1)"
          class="nav-link cursor-pointer"
          [ngClass]="getActiveTabCSSClass(1)"
          role="tab"
        >
          Payment Details
        </a>
      </li>
      <li
        class="nav-item"
        *ngIf="
          paymentResponse &&
          paymentResponse.payment_type == 'bank' &&
          paymentResponse.bankPayments
        "
      >
        <a
          (click)="setActiveTab(2)"
          class="nav-link cursor-pointer"
          [ngClass]="getActiveTabCSSClass(2)"
          role="tab"
        >
          Bank Payment Details
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content pt-3">
      <!-- begin::Header -->
      <div class="tab-pane" [ngClass]="getActiveTabCSSClass(1)">
        <div class="row justify-content-end align-content-end">
          <div class="col text-right">
          <ng-container *ngIf="
            paymentResponse &&
            paymentResponse.viewCount
          ">
            <button
              type="submit"
              class="btn btn-danger btn-elevate"
              (click)="reset()"
              [disabled]="submitting"
            >
              Reset View Count
            </button>
          </ng-container>
          </div>
        </div>
        <!-- <div class="row" *ngIf="paymentResponse"> -->
        <ngx-json-viewer
          [json]="paymentResponse"
          [expanded]="false"
        ></ngx-json-viewer>
        <!-- </div> -->
         <div
          [formGroup]="formGroup"
        >
          <div class="form-group row mt-5">
            <label class="col-xl-2 col-form-label"> Commission Eligibility: </label>
              <div class="form-check form-switch d-flex align-items-start pt-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="toggleEligibility"
                  formControlName="commission_eligibility"
                />
                <label class="form-check-label mt-0" for="toggleEligibility">
                  {{ formGroup.get('commission_eligibility')?.value ? 'YES' : 'NO' }}
                </label>
              </div>
          </div>
        </div>
        <div
          [formGroup]="formGroup"
        >
          <div class="form-group row mt-5">
            <label class="col-xl-2 col-form-label"> Start Date</label>
            <div class="col-xl-4">
              <input
                type="datetime-local"
                class="form-control form-control-lg form-control-solid"
                name="start_date"
                formControlName="start_date"
                [class.is-invalid]="isControlInvalid('start_date')"
                [class.is-valid]="isControlValid('start_date')"
              />
            </div>
            <label class="col-xl-2 col-form-label"> Expire Date</label>

            <div class="col-xl-4">
              <div class="col-lg-11 col-xl-9">
                <input
                  type="datetime-local"
                  class="form-control form-control-lg form-control-solid"
                  name="end_date"
                  formControlName="end_date"
                  [class.is-invalid]="isControlInvalid('end_date')"
                  [class.is-valid]="isControlValid('end_date')"
                />
              </div>
            </div>
          </div>
        </div>
         <div
          [formGroup]="formGroup"
          *ngIf="
            paymentResponse &&
            paymentResponse.payment_type &&
            paymentResponse.payment_type == 'bank'
          "
        >
          <div class="form-group row mt-5">
            <label class="col-xl-2 col-form-label"> Status</label>
            <div class="col-xl-4">
              <select
                class="form-control form-control-lg form-control-solid"
                name="status"
                formControlName="status"
                [class.is-invalid]="isControlInvalid('status')"
                [class.is-valid]="isControlValid('status')"
              >
                <option value="pending">Pending</option>
                <option value="active">Active</option>
                <option value="canceled">Canceled</option>
                <option value="expired">Expired</option>
              </select>
            </div>
            <label class="col-xl-2 col-form-label"> Payment Status</label>

            <div class="col-xl-4">
              <div class="col-lg-11 col-xl-9">
                <select
                  class="form-control form-control-lg form-control-solid"
                  name="payment_status"
                  formControlName="payment_status"
                  [class.is-invalid]="isControlInvalid('payment_status')"
                  [class.is-valid]="isControlValid('payment_status')"
                >
                  <option value="pending">Pending</option>
                  <option value="approved">Approved</option>
                  <option value="canceled">Canceled</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ng-container>
            <button
              type="submit"
              class="btn btn-primary btn-elevate"
              (click)="save()"
              [disabled]="submitting"
            >
              Save
            </button>
          </ng-container>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="getActiveTabCSSClass(2)">
        <h5 class="col-xl-12 col-lg-12 col-form-label">Transaction Info</h5>
        <ngx-json-viewer
          *ngIf="paymentResponse && paymentResponse.bankPayments"
          [json]="paymentResponse.bankPayments"
          [expanded]="false"
        ></ngx-json-viewer>

        <h5 class="col-xl-12 col-lg-12 col-form-label">Payment Slip</h5>
        <img
          *ngIf="
            paymentResponse &&
            paymentResponse.bankPayments &&
            paymentResponse.bankPayments.slip
          "
          src="{{ STORAGE_BUCKET }}{{ paymentResponse.bankPayments.slip }}"
          style="background-color: black; width: '50%'"
          alt=""
        />
      </div>
    </div>
  </div>

  <!--end::Header-->
  <!--begin::Form-->
</div>
<!--end::Card-->
